
#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.premium-shadow {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

.premium-border {
  border: 1px solid rgba(200, 200, 201, 0.1);
}

.premium-gradient {
  background: linear-gradient(135deg, rgba(200, 200, 201, 0.1), rgba(70, 70, 70, 0.2));
}
